data/
*/data
*/dogs_vs_cats/
*/archive/
6_NewCourse/dogs_vs_cats/
*/dogs_vs_cats
*/archive
*/archive.zip
*/acrchive/*
*/UAVDT-processed
*/runs
*/datasets
*/Pipeline/dataset
*/Pipeline/archive.zip
*/Pipeline/__pycache__
*/Pipeline/runs
./archive.zip
*/*.zip
*/dataset
*/video_outputs
*/video_output
./deeplabv3_model.pth
./*.pth
*.pth
Automated_SegmentAndYolo/deeplabv3_model.pth
*/datasets
*/runs_yolo
*/yolov8n.pt
*/opt
*/videos
*/videos